@model TontineASP.Models.LoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="@Url.Content("~/Script/fontawesome.js")" crossorigin="anonymous"></script>
    <link href="@Url.Content("~/Contents/Login.css")" rel="stylesheet" />
    <title>Formulaire de connexion</title>
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="@Url.Action("Login", "Connect")" method="post" class="sign-in-form">
                    @if (Model != null && Model.IsError)
                    {
                        <div class="alert alert-danger" role="alert">@Model.Message</div>
                    }
                    <h2 class="title">Se connecter</h2>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input name="Email" id="email" value="@(Model != null ? Model.Email : "")" type="email" placeholder="Email" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input name="Password" id="password" value="@(Model != null ? Model.Password : "")" type="password" placeholder="Mot de passe" />
                    </div>
                    <input type="submit" value="Login" class="btn solid" />
                    <p class="social-text">Ou se connecter à partir d'une autre plateforme</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Pas encore de compte ?</h3>
                    <p>
                        Si vous n'êtes pas encore inscrits dans notre site web
                        cliquez sur le bouton ci-dessous pour vous inscrire
                    </p>
                    <button class="btn transparent" id="sign-up-btn">
                        S'enregistrer
                    </button>
                </div>
                <img src="@Url.Content("~/Contents/Images/log.svg")" class="image" alt="" />
            </div>
        </div>

    </div>
</body>
</html>

